<footer class="background-footer">
  <hr class="text-light py-2" />
  <div class="row m-0">
    <div class="col-5">
      <img src="../../../assets/logo_light.png" class="img-fluid tambaleo" alt="" />
    </div>
    <div class="custom-container">
      <div class="icon-container">
        <div class="icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; Carlos Céspedes y Matías Quezada</p>
      </div>
    </div>
    
    <div class="hide-800 col-12 col-md-5 align-items-center justify-content-end pe-5">
      <nav>
        <ul>
          <li><a routerLink="/tiendas">Tiendas</a></li>
          <li><a routerLink="/products">Productos</a></li>
          <li><a routerLink="/categories" *ngIf="admin">Administrar Categorías</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>