<div class="card">
    <div class="card-body">
        <div class="container">

            <div class="background d-flex align-items-center">
                <div class="header__content">
                    <h1 class="header__title">¡Encuentra todos tus Videojuegos en un solo Lugar!</h1>
                </div>
            </div>
            <h1>ULTIMOS PRODUCTOS</h1>
            <div class="carousel">
                <app-carousel></app-carousel>
            </div>
        </div>
    </div>
</div>